
        body { padding-top: 0; }
        .mobile-header { display: none; }
        .app-container { padding-bottom: 0; }
        .navbar-desktop { display: flex; }
        .navbar-mobile { display: none; }
        .hero-section, #series-details-backdrop { height: 80vh; }
        .hero-title, #series-details-info h1 { font-size: 3.5rem; }
        .media-card { flex-basis: 220px; }
        .media-grid { grid-template-columns: repeat(auto-fill, minmax(220px, 1fr)); }
        .generic-page { padding-top: 6rem; }
        #page-search { padding-top: 6rem; }
